{% include 'main.html' %}
{% load static %}
{% block content %}

<style>
    .home {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<body>

<div class="home">

    <div3>

        {% for entry in entries %}

        {% if forloop.first %}
            <h3>
                {{entry.topic}}
            </h3>
        {% endif %}
        <ol>
        <p1>
            {% if entry.description == 'GitHub' %}
                <a class="button" href="{% url 'github' %}">{{entry.description}}</a>
            {% elif entry.description == 'LinkedIn' %}
                <a class="button" href="{% url 'linkedin' %}">{{entry.description}}</a>
            {% else %}
                {{entry.description|linebreaks}}
        </p1>
            {% endif %}
        </ol>
        {% endfor %}
    </div3>

    <div>

    </div>


</div>




</body>


{% endblock content %}
